[submodule "f-test-project"]
	path = f-test-project
	url = git@github.com:Innosoft-KMUTT/test-project.git
[submodule "b-test-project"]
	path = b-test-project
	url = git@github.com:Innosoft-KMUTT/test-project.git
